body{
  background-color: #FFF0F5;
  max-width: 300px;
  margin: auto;
}
hr{
  height: 0;
  border-style: none;
  border-top-style: dotted;
  width:10%;
  border-color: grey;
  border-width: 5px;

}
h2{
  text-align: center;
  color:pink;

}
table{
  margin-left: auto;
  margin-right: auto;
}
h1{
  color:pink;
}
