body{
  color: 40450E;
}
div{


  padding: 10px;
}
.top{

  padding-top: 10px;
  line-height: 2;
  background-color: lavender;
  margin-bottom: 50px;
}
.bottom{
  height: 200px;
  width: 200px;
  border:solid 10px;
  margin-left: 500px;



}
.middle{
  height: 200px;
  width: 200px;
  border:solid 20px;
  margin-left: 240px;
}
body{
  margin: 0;
  text-align: center;

}
.h{
  border-radius: 100%;
}
.head2{
  font-weight: normal;
  font-size: 20px;

}
a{
  color:#11999E;
}
h3{
  color:#11999E;
}
h2{
  font-family: 'Gluten', cursive;
  font-size: 30px;
  color: #66BFBF;
}
h1{
  font-family: 'Great Vibes', cursive;
  font-size: 100px;
  margin-top: 0;
  margin-bottom: 0;
  width: 60%;
  margin:0 auto;
  color: #66BFBF;

}
.ski{
  float: left;
}
.skil{
  float: right;
}
.bcloud{
  position: absolute;
  margin-bottom: 300px;
}
.tcloud{
  position: relative;
  margin-left: 400px;
  margin-top: 30px;
}
.skill-row{
  width: 50%;
  margin: 10px auto;

}
.bottom-container{
  background-color: #66BFBF;
}
.end{
  color: #EAF6F6;
}
hr{
  width: 5%;
  border-style: dotted;
  border-width: 5px;
  border-top: 0;
}
.btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Georgia;
   font-size: 23px;
   font-weight: 100;
   padding: 20px;
   background-color: #66BFBF;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
